<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/account/answering.css" rel="stylesheet" />
    
</head>
<body>
    <div id="app">
        <div id="app-head" class="van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <div class="app-head-text" v-text="language.TITLE_TEXT"></div>
        </div>
        <div id="app-content">
            <div v-if="isLoading" class="loading-box">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING"></p>
            </div>
            <div v-else v-cloak class="question_content">
                <div class="question_line">
                    <p v-text="language.QUESTION_TEXT_1 + getQuestionText(paramObject.Q1)" class="text"></p>
                    <div class="input_group">
                        <div class="input_line">
                            <input type="text" class="input_control" v-model="form.a1" v-bind:placeholder="language.QUESTION_PLACEHOLDER_1" maxlength="10" />
                        </div>
                    </div>
                </div>
                <div class="question_line">
                    <p v-text="language.QUESTION_TEXT_2 + getQuestionText(paramObject.Q2)" class="text"></p>
                    <div class="input_group">
                        <div class="input_line">
                            <input type="text" class="input_control" v-model="form.a2" v-bind:placeholder="language.QUESTION_PLACEHOLDER_2" maxlength="10" />
                        </div>
                    </div>
                </div>
                <div class="question_line">
                    <p v-text="language.QUESTION_TEXT_3 + getQuestionText(paramObject.Q3)" class="text"></p>
                    <div class="input_group">
                        <div class="input_line">
                            <input type="text" class="input_control" v-model="form.a3" v-bind:placeholder="language.QUESTION_PLACEHOLDER_3" maxlength="10" />
                        </div>
                    </div>
                </div>
                <button class="confirm_button" @click="checkInput" v-text="language.BUTTON_1"></button>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/account/answering.js"></script>
</body>
</html>