<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/account/answering.css" rel="stylesheet" />
    
</head>
<body>
    <div id="app">
        <div id="app-head" class="van-hairline--bottom" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <div class="app-head-text" v-text="language.TITLE_TEXT"></div>
        </div>
        <div id="app-content">
            <div class="input_group">
                <div class="input_line van-hairline--bottom">
                    <span class="input_text" 
                          v-text="form.changeType == 1 ? language.INPUT_1_TEXT_1 : language.INPUT_1_TEXT_2"></span>
                    <input type="password" class="input_control"
                           v-model="form.password"
                           v-bind:placeholder="form.changeType == 1 ? language.INPUT_1_PLACEHOLDER_1 : language.INPUT_1_PLACEHOLDER_2"
                           maxlength="16" />
                </div>
                <div class="input_line">
                    <span class="input_text" 
                          v-text="form.changeType == 1 ? language.INPUT_2_TEXT_1 : language.INPUT_2_TEXT_2"></span>
                    <input type="password" class="input_control"
                           v-model="confirmPassword"
                           v-bind:placeholder="form.changeType == 1 ? language.INPUT_2_PLACEHOLDER_1 : language.INPUT_2_PLACEHOLDER_2"
                           maxlength="16" />
                </div>
            </div>
            <button class="confirm_button" @click="checkInput" v-text="language.BUTTON_1"></button>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/account/reset.password.js"></script>
</body>
</html>