<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no,viewport-fit=cover" />
    <title></title>
    <link href="../../content/css/base.css" rel="stylesheet" />
    <link href="../../content/css/vant.css" rel="stylesheet" />
    <link href="../../content/css/pages/center/sell.ep.css" rel="stylesheet" />
    
</head>
<body>
    <div id="app">
        <div id="app-head" class="fixed" v-bind:style="{'paddingTop': statusbarHeight + 'px'}">
            <i id="app-back-button" class="iconfont iconzuo right-back"></i>
            <div class="app-head-text" v-text="language.TITLE_TEXT">出售EP</div>
            <i class="iconfont iconbangzhu submit-button" @click="isTipShow = true"></i>
        </div>
        <div id="app-content"
             v-bind:style="{'paddingTop': (45 + statusbarHeight) + 'px'}"
             v-bind:class="{'iphone': APP.CONFIG.IsSafeArea()}">
            <div v-if="isLoading || isLoadingBank" class="loading-box p50">
                <van-loading color="black"></van-loading>
                <p class="loading-text" v-text="language.LOADING_TEXT"></p>
            </div>
            <div v-else v-cloak>
                <div class="sell_info">
                    <ul>
                        <li>
                            <p class="value" v-text="numberFormat(currentUser.EP, 2)"></p>
                            <p class="text" v-text="language.UL_LI_1">EP數量</p>
                        </li>
                        <li>
                            <p class="value">6.175</p>
                            <p class="text" v-text="language.UL_LI_2">匯率</p>
                        </li>
                        <li>
                            <p class="value" v-text="numberFormat(display.convertAmountDisplay, 2)"></p>
                            <p class="text" v-text="language.UL_LI_3">約價值</p>
                        </li>
                    </ul>
                </div>
                <div class="input_group">
                    <div class="warn">
                        <p class="caption" v-text="language.WARN_CAPTION"></p>
                        <p class="text" v-text="language.WARN_TEXT"></p>
                    </div>
                    <div class="input_line van-hairline--bottom">
                        <span class="input_text" v-text="language.INPUT_TEXT_1">出售數量</span>
                        <div class="input_control r-1"
                             v-bind:class="{'gray': form.epAmount <= 0}"
                             @click="isConfirmAmountShow = true"
                             v-text="display.amountText"></div>
                        <i class="iconfont iconjiantou arrow"></i>
                    </div>
                    <!--<div class="input_line van-hairline--bottom">
                        <span class="input_text" v-text="language.INPUT_TEXT_2">付款期限</span>
                        <div class="input_control r-1"
                             v-bind:class="{'gray': form.limitPayment === 0}"
                             @click="isPaymentTimeShow = true"
                             v-text="display.payTimeText"></div>
                        <i class="iconfont iconjiantou arrow"></i>
                    </div>
                    <div class="input_line van-hairline--bottom">
                        <span class="input_text" v-text="language.INPUT_TEXT_3">確認期限</span>
                        <div class="input_control r-1"
                             v-bind:class="{'gray': form.limitConfirm === 0}"
                             @click="isConfirmTimeShow = true"
                             v-text="display.confirmTimeText"></div>
                        <i class="iconfont iconjiantou arrow"></i>
                    </div>-->
                    <div class="input_line">
                        <span class="input_text" v-text="language.INPUT_TEXT_6">手機號碼</span>
                        <input type="tel"
                               class="input_control"
                               v-model="form.phone"
                               maxlength="11"
                               v-bind:placeholder="language.INPUT_PLACEHOLDER_6" />
                    </div>
                </div>
                <van-tabs v-model="tabIndex" class="input_group" @change="tabChanged">
                    <van-tab v-bind:title="language.TAB_1">
                        <div class="input_line van-hairline--bottom">
                            <span class="input_text" v-text="language.INPUT_TEXT_7">姓名</span>
                            <div class="input_control gray" v-text="currentUser.BankCardName"></div>
                        </div>
                        <div class="input_line van-hairline--bottom">
                            <span class="input_text" v-text="language.INPUT_TEXT_8">開戶行</span>
                            <div type="text"
                                 class="input_control r-1"
                                 v-bind:class="{'gray': !form.bankName}"
                                 v-text="form.bankName ? form.bankName : language.INPUT_PLACEHOLDER_8"
                                 @click="isBankNameShow = true"></div>
                            <i class="iconfont iconjiantou arrow"></i>
                        </div>
                        <div class="input_line van-hairline--bottom">
                            <span class="input_text" v-text="language.INPUT_TEXT_10">銀行卡號</span>
                            <input type="text"
                                   class="input_control"
                                   v-model="form.bankNumber"
                                   maxlength="20"
                                   v-bind:placeholder="language.INPUT_PLACEHOLDER_10" />
                        </div>
                        <div class="input_line full card_number">
                            <p class="text_line" v-text="display.bankNumberFormat"></p>
                        </div>
                    </van-tab>
                    <van-tab v-bind:title="language.TAB_2">
                        <div class="input_line van-hairline--bottom">
                            <span class="input_text" v-text="language.INPUT_TEXT_12">轉換匯率</span>
                            <div class="input_control">1EP = 0.9USDT</div>
                        </div>
                        <div class="input_line">
                            <span class="input_text" v-text="language.INPUT_TEXT_13">USDT收款地址</span>
                            <input type="text"
                                   class="input_control"
                                   v-model="form.usdtAddress"
                                   maxlength="50"
                                   v-bind:placeholder="language.INPUT_PLACEHOLDER_13" />
                        </div>
                    </van-tab>
                </van-tabs>
                <div class="input_group border">
                    <div class="input_line full">
                        <p class="text_line" v-text="display.questionText"></p>
                        <input type="text"
                               class="full_control"
                               v-model="form.answer"
                               v-bind:placeholder="language.INPUT_PLACEHOLDER_11"
                               maxlength="20" />
                    </div>
                </div>
                <div class="input_group">
                    <div class="input_line van-hairline--bottom">
                        <span class="input_text" v-text="language.INPUT_TEXT_4">證件號碼</span>
                        <input type="text"
                               class="input_control"
                               v-model="form.idcard"
                               maxlength="25"
                               v-bind:placeholder="language.INPUT_PLACEHOLDER_4" />
                    </div>
                    <div class="input_line van-hairline--bottom">
                        <span class="input_text" v-text="language.INPUT_TEXT_5">交易密碼</span>
                        <input type="password"
                               class="input_control"
                               v-model="form.password"
                               maxlength="16"
                               v-bind:placeholder="language.INPUT_PLACEHOLDER_5" />
                    </div>
                    <div class="input_line">
                        <span class="input_text" v-text="language.INPUT_TEXT_16">谷歌驗證碼</span>
                        <input type="tel"
                               class="input_control"
                               v-model="form.gCode"
                               v-bind:placeholder="language.INPUT_PLACEHOLDER_16"
                               maxlength="6" />
                    </div>
                </div>
                <button class="confirm_button" v-text="language.BUTTON_1" @click="checkData">確認出售</button>
                <van-popup v-model="isBankNameShow" position="bottom">
                    <van-picker v-bind:columns="bankNameList" 
                                value-key="Name" 
                                @cancel="isBankNameShow = false" 
                                v-bind:confirm-button-text="language.CONFIRM_BUTTON_TEXT"
                                v-bind:cancel-button-text="language.CANCEL_BUTTON_TEXT"
                                @confirm="selectedBankItem" 
                                show-toolbar="true" 
                                v-bind:title="language.PICKER_TITLE_3"></van-picker>
                </van-popup>
                <van-popup class="border" v-model="isConfirmAmountShow" position="bottom">
                    <van-picker v-bind:columns="epList"
                                @cancel="isConfirmAmountShow = false"
                                v-bind:confirm-button-text="language.CONFIRM_BUTTON_TEXT"
                                v-bind:cancel-button-text="language.CANCEL_BUTTON_TEXT"
                                @confirm="confirmAmount"
                                show-toolbar="true"
                                v-bind:title="language.PICKER_TITLE_1"></van-picker>
                </van-popup>
                <!--<van-popup class="border" v-model="isPaymentTimeShow" position="bottom">
                    <van-picker v-bind:columns="paymentTimeList"
                                @cancel="isPaymentTimeShow=false"
                                v-bind:confirm-button-text="language.CONFIRM_BUTTON_TEXT"
                                v-bind:cancel-button-text="language.CANCEL_BUTTON_TEXT"
                                @confirm="selectedPaymentTimeItem"
                                show-toolbar="true"
                                v-bind:title="language.PICKER_TITLE_2"></van-picker>
                </van-popup>
                <van-popup class="border" v-model="isConfirmTimeShow" position="bottom">
                    <van-picker v-bind:columns="confirmTimeList"
                                @cancel="isConfirmTimeShow=false"
                                v-bind:confirm-button-text="language.CONFIRM_BUTTON_TEXT"
                                v-bind:cancel-button-text="language.CANCEL_BUTTON_TEXT"
                                @confirm="selectedConfirmTimeItem"
                                show-toolbar="true"
                                v-bind:title="language.PICKER_TITLE_2"></van-picker>
                </van-popup>-->
                <van-popup class="border confirm_dialog" v-model="isConfirmDialogShow" position="bottom">
                    <div class="confirm_dialog_inner">
                        <p class="caption" v-text="language.CONFIRM_DIALOG_CAPTION"></p>
                        <ul>
                            <li class="clearfix">
                                <span class="text" v-text="language.INPUT_TEXT_1"></span>
                                <span class="value" v-text="form.epAmount"></span>
                            </li>
                            <!--<li class="clearfix">
                                <span class="text" v-text="language.INPUT_TEXT_2"></span>
                                <span class="value" v-text="display.payTimeText"></span>
                            </li>
                            <li class="clearfix">
                                <span class="text" v-text="language.INPUT_TEXT_3"></span>
                                <span class="value" v-text="display.confirmTimeText"></span>
                            </li>-->
                            <li class="clearfix">
                                <span class="text" v-text="language.INPUT_TEXT_6"></span>
                                <span class="value" v-text="form.phone"></span>
                            </li>
                            <li class="clearfix">
                                <span class="text" v-text="language.INPUT_TEXT_14"></span>
                                <span class="value" v-text="form.receiveType === 1 ? language.TAB_1 : language.TAB_2"></span>
                            </li>
                            <li class="clearfix" v-if="form.receiveType === 1">
                                <span class="text" v-text="language.INPUT_TEXT_8"></span>
                                <span class="value" v-text="form.bankName"></span>
                            </li>
                            <li class="clearfix" v-if="form.receiveType === 1">
                                <span class="text" v-text="language.INPUT_TEXT_9"></span>
                                <span class="value" v-text="form.bankBranchName"></span>
                            </li>
                            <li class="clearfix" v-if="form.receiveType === 1">
                                <span class="text" v-text="language.INPUT_TEXT_10"></span>
                                <span class="value" v-text="display.bankNumberFormat"></span>
                            </li>
                            <li class="clearfix" v-if="form.receiveType === 2">
                                <span class="text" v-text="language.INPUT_TEXT_15"></span>
                                <span class="value" v-text="form.usdtAddress"></span>
                            </li>
                        </ul>
                        <div class="buttons">
                            <button class="button" v-text="language.BUTTON_1" @click="doSubmitAjax"></button>
                            <button class="button cancel" @click="isConfirmDialogShow = false" v-text="language.BUTTON_2"></button>
                        </div>
                    </div>
                </van-popup>
                <van-popup v-model="isTipShow" position="bottom" class="tip_box">
                    <div class="tip_title">
                        <i class="iconfont iconbangzhu"></i>
                        <span v-text="language.RULE_TITLE"></span>
                    </div>
                    <div class="tip">
                        <ul>
                            <li v-text="language.RULE_LINE_1"></li>
                            <li v-text="language.RULE_LINE_2"></li>
                            <li v-text="language.RULE_LINE_3"></li>
                        </ul>
                    </div>
                    <button class="confirm_button full" @click="isTipShow = false" v-text="language.BUTTON_3">我知道了</button>
                </van-popup>
            </div>
        </div>
    </div>
    <script src="../../content/js/vue.js"></script>
    <script src="../../content/js/vant.min.js"></script>
    <script src="../../content/js/base.js"></script>
    <script src="../../content/js/pages/center/sell.ep.js"></script>
</body>
</html>